<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="center-box">
            <h2>공지사항</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>등록 날짜</th>
                        <th>수정 날짜</th>
                        <th>조회수</th>
                        <th>작성자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${boardList}">
                        <td th:text="${board.id}"></td>
                        <td>
                            <a th:href="@{|/board/detail/${board.id}|}" th:text="${board.title}"></a>
                        </td>
                        <td th:text="${board.createdAt}"></td>
                        <td th:text="${board.modifyAt}"></td>
                        <td th:text="${board.count}"></td>
                        <td th:text="${board.username}"></td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-center">
                            <a th:href="@{/board/write}">글쓰기</a>
                            <a th:href="@{/}">메인</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>